/* 
 * --------------------------------------------------------
 * Solutions
 * --------------------------------------------------------
 * */
.solutions-container {
  position: relative;
}

.solutionsBreakdown-container, .solutionsSuccess-container {
  position: relative;
  z-index: 100;
}

.solutions-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%
}
