/* 
 * --------------------------------------------------------
 * html
 * --------------------------------------------------------
 * */

html {
  background: rgb(0,0,0);
}

/* 
 * --------------------------------------------------------
 * body
 * --------------------------------------------------------
 * */

body {
  background: rgb(255,255,255);
  border: 4px solid rgb(0,0,0);
}

/* 
 * --------------------------------------------------------
 * header 
 * --------------------------------------------------------
 * */

header {
  padding: 8px 16px;
}

/* 
 * --------------------------------------------------------
 * footer 
 * --------------------------------------------------------
 * */

footer {
  padding: 16px;
}

/* 
 * --------------------------------------------------------
 * figure 
 * --------------------------------------------------------
 * */
figure {
  margin: 0;
}

/* 
 * --------------------------------------------------------
 * font adjustments 
 * --------------------------------------------------------
 * */

h1, h2, h3 {
  font-family: Cormorant Garamond, sans-serif;
  font-weight: 700;
}

p, a, figcaption, div, span, input, textarea, button {
  font-family: Muli, serif;
}

a, figcaption, label, button {
  font-weight: 700;
  font-size: 18px;
}

div, span, input, textarea {
  font-weight: 400;
  font-size: 18px;
}

input, textarea, button {
  height: 32px;
}

textarea {
  resize: none;
}

h1 {
  font-size: 64px;
  margin: 0 0 24px 0;
}

h2 {
  font-size: 48px;
  margin: 0 0 16px 0;
}

h3 {
  font-size: 36px;
  margin: 0 0 8px 0;
}

p {
  font-size: 24px;
  font-weight: 200;
  line-height: 36px;
  margin: 0;
}

.u-textAlign-center {
  text-align: center;
}

.u-textAlign-right {
  text-align: right;
}

.u-fontWeight-700 {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  a, figcaption, div, span, label, input, textarea, button {
    font-size: 14px;
  }

  h1 {
    font-size: 48px;
    margin: 0 0 16px 0;
  }
  
  h2 {
    font-size: 36px;
    margin: 0 0 8px 0;
  }
  
  h3 {
    font-size: 24px;
    margin: 0 0 8px 0;
  }
  
  p {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
  }
}

/* 
 * --------------------------------------------------------
 * padding
 * --------------------------------------------------------
 * */

.u-padding-base {
  padding: 16px;
}

.u-paddingTopBottom-base {
  padding-top: 16px;
  padding-bottom: 16px;
}

.u-paddingTopBottom-base3x {
  padding-top: 48px;
  padding-bottom: 48px;
}

.u-paddingTopBottom-base21x {
  padding-top: 336px;
  padding-bottom: 336px;
}

.u-paddingRightLeft-base {
  padding-right: 16px;
  padding-left: 16px;
}

/* 
 * --------------------------------------------------------
 * margin
 * --------------------------------------------------------
 * */

.u-margin-0 { 
  margin: 0;
}

.u-margin-base { 
  margin: 16px;
}

.u-marginTop-base {
  margin-top: 16px;
}

.u-marginTop-base3x {
  margin-top: 48px;
}

.u-marginTop-base7x {
  margin-top: 112px;
}

.u-marginTopBottom-base {
  margin-top: 16px;
  margin-bottom: 16px;
}

.u-marginRightLeft-base {
  margin-right: 16px;
  margin-left: 16px;
}

.u-marginRightLeft-auto {
  margin-right: auto;
  margin-left: auto;
}

.u-marginLeft-auto {
  margin-left: auto;
}

.u-marginLeft-base {
  margin-left: 16px;
}

.u-marginLeft-base2x {
  margin-left: 32px;
}

@media screen and (min-width: 944px) {
  .min944-u-marginTop-base5x {
    margin-top: 80px;
  }
}

/* 
 * --------------------------------------------------------
 * width 
 * --------------------------------------------------------
 * */

.u-width-fill {
  width: 100%;
}

.u-maxWidth-320px {
  max-width: 320px;
}

.u-maxWidth-400px {
  max-width: 400px;
}

.u-maxWidth-420px {
  max-width: 420px;
}

.u-maxWidth-512px {
  max-width: 512px;
}

.u-maxWidth-720px {
  max-width: 720px;
}

.u-maxWidth-800px {
  max-width: 800px
}

.u-maxWidth-1000px {
  max-width: 1000px
}

.u-maxWidth-1366px {
  max-width: 1366px
}

.u-minWidth-344px {
  min-width: 344px;
}

.u-minMaxWidth-320px {
  max-width: 320px;
  min-width: 320px;
}

@media screen and (max-width: 768px) {
  .max768-u-maxWidth-320px {
    max-width: 320px;
  }
}

@media screen and (max-width: 1170px) {
  .max1170-u-maxWidth-480px {
    max-width: 480px;
  }
}

/* 
 * --------------------------------------------------------
 * height
 * --------------------------------------------------------
 * */

.u-height-112px {
  height: 112px;
}

.u-height-fill {
  height: 100%;
}

/* 
 * --------------------------------------------------------
 * position
 * --------------------------------------------------------
 * */

.u-relative {
  position: relative;
}

.u-absolute {
  position: absolute;
}

.u-absolute.is-top-24px {
  top: 24px;
}

.u-absolute.is-right-8px {
  right: 8px;
}

.u-absolute.is-right-16px {
  right: 16px;
}

.u-absolute.is-bottom-8px {
  bottom: 8px;
}

@media screen and (max-width: 768px) {
  .u-absolute.max768-is-top-16px {
    top: 16px;    
  }
}

/* 
 * --------------------------------------------------------
 * flex 
 * --------------------------------------------------------
 * */

.flexContainer {
  display: flex;
}

.flexContainer.is-column {
  flex-direction: column;
}

.flexContainer.is-wrap {
  flex-wrap: wrap;
}

.flexContainer.is-wrapReverse {
  flex-wrap: wrap-reverse;
}

.flexContainer.is-justifyContent-center {
  justify-content: center;
}

.flexContainer.is-justifyContent-spaceAround {
  justify-content: space-around;
}

.u-alignSelf-center {
  align-self: center;
}

/* 
 * --------------------------------------------------------
 * background
 * --------------------------------------------------------
 * */

.u-backgroundColor-black-5 {
  background: rgba(0,0,0,0.05);
}

.u-backgroundColor-black-20 {
  background: rgba(0,0,0,0.15);
}

.u-backgroundColor-brand-15 {
  background: rgba(194,87,0,0.15);
}

.u-background-gradient-whiteBrand {
  background: linear-gradient(white, rgba(194,87,0,0.10));
}

.u-background-darkGrey {
  background: rgba(33,29,35,0.90);
}

/* 
 * --------------------------------------------------------
 * color 
 * --------------------------------------------------------
 * */

.u-fontColor-white {
  color: white;
}

.u-fontColor-brandDark {
  color: rgba(194,87,0,1);
}
